<div id="footer">
    <div class="container">
            <div class="row-fluid">
                {# if the height of this changes, the CSS in base.css will have to be changed to match #}
                <p>
                    <a href="http://harvest.research.chop.edu/">Harvest</a> developed and maintained by <a href="http://www.chop.edu">The Children's Hospital of Philadelphia</a><br>
                </p>
                <p>
                    Copyright &copy; 2008 &#8211; 2013
                    <a href="http://unicef.org">UNICEF</a> et al.<br />
                    <a href="http://github.com/rapidsms/rapidsms">RapidSMS</a> is available under
                    <a href="http://github.com/rapidsms/rapidsms/raw/master/LICENSE">the BSD license</a>.
                </p>
            </div>
    </div>
</div>
