{% extends "base.html" %}
{% load url from future %}
{% load alerts_tags %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}thousand/stylesheets/pulse.css"/>
    <style>
      body {
        background-color: {{ dashboard_background_color_experiment }};
      }
      .legend {
        float: left;
	clear: left;
      }
      #ug-chart {
	margin-right: 20%;
      }
    </style>
{% endblock extra_stylesheets %}

{% block extra_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/d3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/crossfilter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/queue.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/dc.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/colorbrewer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}thousand/javascripts/national-pulse.js"></script>
{% endblock extra_javascript %}

{% block content %}
<div class="page-header"><h1>{{ dashboard_title_experiment }}</h1></div>

  {% notifications %}

  <div class="container">
	<div class="poll-pie">
		<div id="national-pie-chart">
		</div>
	</div>

	<!-- Placement of pulse map code -->
	<div id="ug-chart" class="well well-small">
	</div>

	<div id="totals-bar-chart">
	</div>

	<!-- Placement of map legend code -->
	<div id="legend_div_disabled"><ol class="legend_disabled"></ol></div>

	<div id="loading" style="position: absolute; top: 0; left: 42%; z-index: 56; background: #ffff00;">
		Loading National Pulse... Please wait, This may take a while.<br/>
		<img src="{{ STATIC_URL }}thousand/images/loading.gif" style="padding-left: 40%">
	</div>

  </div>
  <script>
    // bind map and pie chart to DOM
    var map = dc.geoChoroplethChart("#ug-chart");
    var categoryChart = dc.pieChart("#national-pie-chart");
    var totalsBarChart = dc.barChart("#totals-bar-chart");

    // configure map for Uganda
    configure('UG');

    // load data assets
    queue()
	.defer(d3.json, "{{ STATIC_URL }}thousand/javascripts/districts.json")
	.defer(d3.json, "{{ STATIC_URL }}thousand/javascripts/pulse.json")
      .await(ready);
  </script>
{% endblock content %}
