
{% extends "base.html" %}
{% load url from future %}
{% load alerts_tags %}
{% load django_tables2 %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}thousand/stylesheets/pulse.css"/>
    <style>
      body {
        background-color: {{ dashboard_background_color_experiment }};
      }
      .legend {
        float: left;
	clear: left;
      }
      #ug-chart {
	margin-right: 20%;
      }
    </style>
{% endblock extra_stylesheets %}

{% block extra_javascript %}
{% endblock extra_javascript %}

{% block content %}
<div class="page-header"><h1>{{ dashboard_title_experiment }}</h1></div>

  {% notifications %}

  <div class="container">
    <div class='module'>
        {% if table.data.queryset.exists %}
            {% for label, format in table.formats %}
                <a href="{% querystring table.param_report=format %}">
                    <img src="{{ STATIC_URL }}img/{{ format }}_icon.png" title="{{ label }}"/>
                </a>
            {% endfor %}
            {% render_table table %}
        {% else %}
            <p>No reporters registered.</p>
        {% endif %}
    </dvi>
  </div>
  <script>

  </script>
{% endblock content %}
